<button data-confetti-button>Celebrate! (Using astro component)</button>

<script>
    import confetti from 'canvas-confetti';
    const buttons = document.querySelectorAll('[data-confetti-button]');
    buttons.forEach((button) => {
        button.addEventListener('click', () => confetti());
    });
</script>