---
await new Promise(resolve => setTimeout(resolve, 2000));
---

<button data-confetti-button>Celebrate!(Using server island)</button>



<script>
    import confetti from 'canvas-confetti';
    const buttons = document.querySelectorAll('[data-confetti-button]');
    buttons.forEach((button) => {
        button.addEventListener('click', () => confetti());
    });
</script>